main{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content:space-between;
    height: 95vh;
}
.container-30{
    width: 30%;
    margin: 2% 1% 2% 3%;
    height: max-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-30 > h1{
    width: 90%;
    font-size: 55px;
    height: max-content;
    text-align: center;
    margin-bottom: 55px;
}

.container-30 > p{
    width: 90%;
    text-align: justify;
}
#cards-container{
    width: 90%;
    height: 90vh;
    margin: 3% 3% 3% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3%;
    margin: 1.5%;
    width: 10vw;
    height: 32vh;
    box-shadow: 3px 3px 10px 2px rgba(78, 77, 77, 0.5);
}

.card h2{
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    height: 15%;
    text-align: center;
    align-items: center;
    margin-bottom: 12%;
}

.card h3{
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    text-align: center;
    margin-bottom: 8%;
}
.card img{
    width: 70%;
    border-radius: 10%;
    margin-bottom: 2%;
}

.card:hover{
    box-shadow: 5px 5px 10px 2px rgba(116, 26, 26, 0.2);
    transform: scale(1.05);
}